button{
    width:170px;
    height: 60px;
    background-color:#3a4ade ;
    color:white;
    border:none;
    border-radius: 10px;
}
header{
    background-color: #fff9f4;
}
.card img{
    margin:17px;
}
.card{
    box-shadow: 10px 10px 5px whitesmoke;
    border:none;
}
.card1{
    box-shadow: 10px 10px 10px whitesmoke;
    border:none;
}
.cl1
{
    box-shadow: 10px 10px 10px rgb(240, 230, 213); 
}